/*
SPARKL App CSS Global
*/

.overlay {
  display: none;
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

/*Grid*/
main {
  overflow: hidden;
}

div.grid {
  max-width: 320px;
  height: 100%;
  width: 100%;
  display: table;
  margin: 0 auto;
  padding: 0;
}

div.grid.top-margin-modal {
  margin-top: 50px;
  margin-bottom: 50px; 
}

a {
  outline: none;
}

div.grid .overlay-box {
  vertical-align: middle;
  height: 100%;
  display: table-cell;
}

.content {
  padding: 50px 40px 87px 40px;
  background: #fbfbfb;
  position: relative;
}

.content-shadow {
  box-shadow: 0 22px 22px -12px #000;
}

.box-popup_content {
  padding: 50px 40px 0 40px;
  background: #fbfbfb;
}

.content_popup_pref-service {
  padding: 50px 40px 87px 40px;
  background: #fbfbfb;
  min-width: 232px;
  max-width: 312px;  
  box-sizing: border-box;
  box-shadow: 0 22px 22px -12px #000;
}

.content_postal-code {
  padding: 50px 0 84px 0;
  background: #fbfbfb;
}

.content_popup_form {
  padding: 0 0 84px 0;
  background: #fbfbfb;
}

.content_input {
  padding: 50px 40px 70px 40px;
  background: #fbfbfb;
}

.grey {
  background-color: #F9F7F9;
}

.padding-txt {
  padding: 30px 0;
}

.padding-txt-time {
  padding: 20px 0;
}

.padding-txt-time p {
padding-bottom: 15px;
}

.padding-txt-form {
  padding: 25px 0 15px;
}

.padding-cart {
  padding: 45px 25px 0 25px;
  background: #fbfbfb;
  box-shadow: 0 22px 22px -12px #000;
  max-width: 312px;  
  box-sizing: border-box;
}

.txt-thanks_popup {
  color: #4A4A4A;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  text-align: center;
  line-height: 24px;
  padding: 20px 0;
}

/*Geral*/

body {
  background-color: #FBFBFB;
}

section, form {
  position: relative;
}

.center {
  text-align: center;
}

.left-txt {
  text-align: left;
}

.vert-center_add-cart { 
  display: table; 
  height: 75px;
}

.vert-center_container {
  display:table-cell;
  vertical-align:middle;
}

.display-block {
  display: inline-block;
}

.padding-top {
  padding-top: 60px;
}

.padding-top-big {
  padding-top: 110px;
}

.padding-bottom {
  padding-bottom: 60px;
}

.padding-bottom-large {
  padding-bottom: 90px;
}

.float-right-margin {
  float: right;
}

.float-right {
    float: right;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.spacer-section {
  margin-top: 25px;
}

.marg-service-txt_left {
  margin-left: 15px;
}

.marg-service-txt_right {
  margin-right: 15px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.margin-top {
  margin-top: 15px;
}

* {
  margin: 0;
  padding: 0
}

.txt-service, .txt-time, .txt-min, .txt-price, .txt-euro, .bto-info, .icon-watch {
  display: inline-block;
}

.wave_top {
  position: absolute;
  top: -22px;
  width: auto;
  height: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.wave_top_popup {
  position: absolute;
  top: 143px;
  width: auto;
  height: 21px;
  left: 50%;
  transform: translateX(-50%);
}

.wave_section {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FBFBFB;
}

.wave_bottom {
  position: absolute;
  top: -54px;
  width: auto;
  height: 21px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.wave_field {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #F9F7F9;
}

.popup-form {
  margin: 0 -15px;
}

/*Elements*/
header, .header_wrapper, .header_grid-header {
  background-color: #FBFBFB;
  height: 60px;
  text-align: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.20);
}

.overlay_wrapper_img {
  background: url(../img/background_overlay_400px.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.overlay_wrapper {
  background-color: rgba(39, 39, 39, 0.85);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 30;
  overflow: auto;
}

.margin-up {
  margin-top: 10px !important;
}

.overlay-box {
  box-sizing: border-box;
  margin: auto;
}

.logo {
  width: 76px;
  height: auto;
  padding: 12px 0;
}

.finger {
  width: auto;
  height: 150px;
  margin-top: -50px;
}

.img-info-service {
  margin: -50px -40px auto;
}

.background-grey {
  background-color: #F1EEF1;
}

.background-white {
  background-color: #fff;
}

.name-prof {
  text-transform: uppercase;
}

.professionals-container {
  width: 100%;
  max-width: 640px;
  height: 115px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.professionals-carousel-container {
  position: absolute;
  overflow: hidden;
  left: 100px;
  width: calc(100% - 100px);
  height: 115px;
}

/*Items*/

.service-container-unid {
  display: flex;
  margin-bottom: 8px;
  width: 100%;
  max-width: 640px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.service-container-unid.active:not(.hide-counts) .background-item-services_right,
.service-container-unid.active:not(.hide-counts) .background-item-services_left,
.service-container-unid.active:not(.hide-counts) .cart-qty {
  background: #C9C5CB;
}

.service-container_add-cart {
    margin-bottom: 8px;
    width: 100%;
    max-width: 640px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    box-sizing: border-box;
    padding-right: 15px;
}

.item-pointer label {
  cursor: pointer;
}

.item-total {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #4A4A4A;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  padding: 30px;
}

.item-total_popup {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 200;
  color: #4A4A4A;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  padding: 30px 30px 5px 30px;
}

.item-total-dashed {
  border-bottom: 1px dashed #DF217C;
  width: 70%;
  margin: 0 auto 30px;
}

.item-total-dashed-top {
  border-top: 1px dashed #DF217C;
  width: 70%;
  margin: 0 auto 15px;
}

.payment-type-dashed{
  display: flex;
  width: 100%;
  height: 40px;
  border-bottom: 1px dashed #DF217C;
  padding-top: 10px;
  padding-bottom: 35px;
  margin: 0 auto 30px;
}

.payment-btn-container{
  height: 100%;
  margin: 0 auto; 
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
}

.payment-btn{
  display: inline-block;
  margin: 8px;
  padding: 9px 15px 7px;
  border-radius: 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: #C6C6C6;
  background: #f6f2f6;
}

.payment-btn.active{
  background: #DF217C;
  color: #fff;
}

.item-field-full {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #4A4A4A;
  border-radius: 20px;
  border: 3px solid #F6F2F6;
  padding: 5px 12px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.item-field-half {
  width:auto;
  float: left;
}

.item-field-half:first-child {
  margin-right: 10px;
}

.item-field-whole {
  width:-moz-available;
}

.item-field-empty {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #A69CA9;
  background: #F6F2F6;
  border-radius: 20px;
  border: none;
  padding: 5px 12px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.item-cart-qty {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: none;
  background: none;
  text-align: center;
  width: 20px;
}

.label-cart {
  display: inline;
  background: #F6F2F6;
  padding: 7px 5px 6px 5px;
  border-radius: 20px;
  position: absolute;
}

.cart-qty {
  display: inline;
  background: #F6F2F6;
  padding: 7px 5px 6px 5px;
  border-radius: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.number_cart {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  background-color: #DF217C;
  padding: 1px 4px 0;
  border-radius: 4px;
  line-height: 14px;
  left: 50%;
  margin: -32px 5px;
  z-index: 2;
}

.item-type_service {
  height: 125px;
  text-align: center;
  background-color: #b3b3b3;
  padding-bottom: 1px;
}

.item-type_service .empty {
  height: 125px;
  background: url(../img/pattern_background_no-image.gif);
}

.item-type_service-small {
  height: 60px;
  text-align: center;
  background-color: #b3b3b3;
  overflow: hidden;
}

.item-type_service-geral {
  height: 125px;
  text-align: center;
  background-color: #c4c4c4;
  overflow: hidden;
}

.item-type_service-geral-small {
  height: 60px;
  text-align: center;
  background-color: #c4c4c4;
  overflow: hidden;
}

.icon-watch {
  width: 15px;
  height: auto;
  opacity: 0.2;
}

.nav_container {
  background-color: #FBFBFB;
  height: 45px;
  text-align: center;
  z-index: 20;
  box-shadow: 0 -3px 5px 0 rgba(0,0,0,0.20);
  position: fixed;
  bottom: 0;
  border-radius: 23px 23px 0 0;
  width: 100%;
  max-width: 350px;
  left: 50%;
  transform: translateX(-50%);
}

.cart-preference {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #4A4A4A;
  padding: 0 0 10px 30px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-preference span {
  display: inline-block;
  max-width: calc(100% - 15px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.postal-code {
  position: absolute;
  border-radius: 100px;
  max-width: 220px;
  width: 100%;
  margin: -82px auto 0;
  display: block;
  z-index: 2;
  padding: 0 45px;
}

.no-bullets {
  list-style-type: none;
  padding: 60px 0 0 0;
}

.table-services {
  padding: 0 15px;
}

.table-services_pop-up {
  padding: 0 0 25px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

ul li {
  margin-bottom: 10px;
}

ul li:last-child {
  margin-bottom: 0;
}

.left-side {
  float: left;
}

.right-side {
  float: right;
}

#timeslots label {
  display: inline-block;
}

.time-slot {
  display: inline-block;
  margin: 4px;
  width: 38px;
  background: #f6f2f6;
  padding: 9px 22px 7px;
  border-radius: 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: #C6C6C6;
  text-align: center;
}

.time-slot.active,
html.non-touch .time-slot:hover {
  background: #DF217C;
  color: #fff;
}

.time-slot-disable {
  display: inline-block;
  margin: 4px;
  width: 38px;
  background: #fbfbfb;
  padding: 6px 19px 4px;
  border: 3px solid #f6f2f6;
  border-radius: 20px;
  letter-spacing: 0.5px;
  color: #eaeaea;
}

.arrow-up {
  width: auto;
  height: 12px;
  cursor: pointer;
}

.arrow-down {
  width: auto;
  height: 12px;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  cursor: pointer;
}

/*Form*/

.form-container * {
  box-sizing:border-box;
}

.form-container {
  padding: 15px;
}

.form-container_pop-up {
  padding: 0 25px 25px;
}

.form-container_pop-up.payment {
  padding: 0 0 25px;
}

.form-container-single {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.form-container-single-adress {
  clear: both;
  padding: 0px;
  margin: 10px 0 30px 0;
}

.col {
  display: block;
  float:left;
  padding: 3% 0 0;
}

.col-popup {
  display: block;
  float:left;
  padding: 5% 0 0;
}

.group:before,
.group:after { content:""; display:table; clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_2_of_2 {
  width: 100%;
}

.span_1_of_2 {
  width: 50%;
  padding-right: 1%;
  box-sizing: border-box;
}

.span_1_of_2 + .span_1_of_2 {
  padding-left: 1%;
  padding-right:0;
}

.form-field {
  width:100%;
  background: #F6F2F6;
  border:0;
  padding: 6px 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #A69CA9;
  border-radius: 20px;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}

.form-field-order {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #4A4A4A;
  border-radius: 20px;
  border: 3px solid #F6F2F6;
  padding: 6px 12px;
  letter-spacing: 0.5px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 5px);
  min-height: 38px;
}

.form-field-order.payment {
  max-width: calc(100% - 30px);
  color: #4A4A4A;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  margin-bottom: 15px;
  min-height: 0;
}

.form-field-order.payment:last-child {
  margin-bottom: 30px;
}

.form-field-order.payment span.field-name {
  float: left;
}

.form-field-order.payment span.field-value {
  float: right;
  font-weight: bold;
}

.form-label {
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #A69CA9;
  padding: 0 12px;
  letter-spacing: 0.5px;
}

.item-text-area {
    height: 80px;
    resize: none;
}

/*POPUPS*/

.form-field-order_popup {
  width: auto;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #4A4A4A;
  border-radius: 20px;
  border: 3px solid #F6F2F6;
  padding: 5px 12px;
  letter-spacing: 0.5px;
  text-align: center;
}

/*CART*/

.background-item-services_left {
  flex-grow: 1;
  background: #F6F2F6;
  border-radius: 20px 0 0 20px;
  padding: 7px 0 7px 0;
}

.background-item-services_right {
  flex: 1;
  max-width: 50px;
  min-width: 50px;
  background: #F6F2F6;
  border-radius: 0 20px 20px 0;
  padding: 7px 0 7px 0;
  text-align: right;
}

.right {
    overflow: hidden;
}

.midle {
    overflow: hidden;
    float: right;
    margin-right: 10px;
}

.service-container-unid.hide-counts .midle {
  margin: 0;
}

.left {
    float: right;
    text-align: right;
}

.add-servive-cart {

}

.ima_serv_cart {
  float: left;
  margin-right: 20px;
}

.ima_serv_cart img {
  border-radius: 20px 0 0 20px;
}

/*Buttons*/

button:focus {
  outline:0;
}

.no-decor {
  text-decoration: none;
}

.bto-big {
  width: 100%;
  max-width: 220px;
  height: auto;
  display: block;
  padding: 7px;
  margin: 0 auto;
  border: none;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #DF217C;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1.5px;
  border-radius: 22px;
  box-shadow: 0 22px 22px -12px #807086;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

.bto-small {
  width: 43%;
  max-width: 110px;
  height: auto;
  display: inline-block;
  padding: 7px;
  border: none;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #DF217C;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1.5px;
  border-radius: 30px;
  box-shadow: 0 22px 22px -12px #807086;
  text-align: center;
  text-transform: uppercase;
}

.bto-small-left {
  position: absolute;
  left: 25px;
}

.bto-small-right {
  position: absolute;
  right: 25px;
}

html.non-touch .bto-big:hover, html.non-touch .bto-small:hover {
  background-color: #730F3F;
}

.service-container {
  margin-bottom: 10px;
  background: #F6F2F6;
  border-radius: 20px;
  width: 100%;
  max-width: 640px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

html.non-touch .service-container:hover, .service-container.active {
  background: #C9C5CB;
}

html.non-touch .service-container.inactive:hover {
  background: #F6F2F6!important;
}

.service-container_checkout {
  margin-bottom: 10px;
  background: #F6F2F6;
  border-radius: 20px;
  width: 100%;
  max-width: 640px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.service-container_cart {

}

.service-name-price {
  margin-bottom: 10px;
  background: #F6F2F6;
  border-radius: 20px;
  width: 100%;
  max-width: 640px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.max-width-container {
  margin-bottom: 10px;
  width: 100%;
  max-width: 640px;
}

.max-width-container:not(.margin-center) {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.bto-service {
  width:auto;
  overflow:hidden;
  float:left;
  font-family: 'Poppins', sans-serif;
  color: #4A4A4A;
  font-weight: 300;
  background: #F6F2F6;
  border-radius: 20px 0 0 20px;
  padding: 7px 0 7px 0;
  cursor: pointer;
}

.bto-service_container-left {
  overflow: hidden;
  padding: 7px 0 7px 0;
}

.bto-service_container-left_no-padd {
  overflow: hidden;
  height: 75px;
}

.bto-service_container-right {
  float: right;
  width: 80px;
  padding: 5px 0 5px 0;
}

.container-right {
  min-width: 85px;
}

.container-left {
  flex-grow: 1;
  display: flex;
}

.bto-service_container-right_popup {
  float: right;
  width: 43px;
  padding: 5px 0 5px 0;
  top: 50%;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
}

.bto-service_container-right_popup.show-price {
  width: 80px;
}

.bto-service_container-right_add-cart {
  float: right;
  padding: 8px 0 8px 0;
  position: absolute;
  right: -27px;
  background: #fbfbfb;
  border-radius: 20px;
  top: 50%;
  margin-top: -18px;

}

.bto-service-left {
  margin-left: 15px;
  text-align: left;
}

.bto-service-right {
  margin-right: 6px;
  text-align: right;
}

.bto {
  width: 100%;
  cursor: pointer;
}

.bto_popup {
  width: calc(100% - 43px);
  cursor: pointer;
}

.bto, .txt-service, .txt-price, .bto-info, .txt-service-add, .bto-info_add-cart {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  text-decoration: none;
  word-break: break-word;
}

.txt-service-add span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.txt-service.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: normal;
  vertical-align: top;
}

.txt-service.overflow.show-price {
  max-width: calc(100% - 80px);
}

.txt-service {
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 20px);
  vertical-align: middle;
}

.info_icon {
  width: auto;
  height: 15px;
  top: 3px;
  position: relative;
}

.bto-info {
  padding: 2px 12px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
  margin-left: 10px;
}

html.non-touch .bto-info:hover, html.non-touch .bto-info_add-cart:hover {
  background-color: #807086;
  color: #fff;
}

.bto-info_add-cart {
    padding: 2px 12px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
    margin: 1px 7px;
}

.bto-circle {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #E8E3E9;
  text-decoration: none;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
  border-radius: 50px;
  padding: 2px 8px 0 8px;
}

html.non-touch .bto-circle:hover {
  background-color: #9B9B9B;
}

.bto-backward {
  margin-top: 8px;
  position: absolute;
  left: 0;
  width: 25%;
}

html.non-touch .bto-backward:hover {
  opacity: 0.3;
}

.bto-backward img {
  height: 30px;
  width: auto;
}

.bto-forward {
  margin-top: 8px;
  position: absolute;
  left: 75%;
  width: 25%;
}

html.non-touch .bto-forward:hover {
  opacity: 0.3;
}

.bto-forward img {
  height: 30px;
  width: auto;
}

.bto-chat {
  margin-top: 8px;
  position: absolute;
  left: 25%;
  width: 25%;
}

html.non-touch .bto-chat:hover {
  opacity: 0.3;
}

.bto-chat img {
  height: 30px;
  width: auto;
}

.bto-home {
  margin-top: 8px;
  position: absolute;
  left: 50%;
  width: 25%;
}

html.non-touch .bto-home:hover {
  opacity: 0.3;
}

.bto-home img {
  height: 30px;
  width: auto;
}

.bto-cart {
  padding: 20px 17px 15px;
  position: absolute;
  right: 0;
}

html.non-touch .bto-cart:hover {
  opacity: 0.3;
}

.bto-cart img {
  height: auto;
  width: 23px;
}

.bto-back-section {
  padding: 11px 16px 7px 16px;
  position: absolute;
  left: 0;
  margin-top: -85px;
  z-index: 10;
  outline: none;
}

.bto-back-section img {
  width: 12px;
  height: auto;
}

.bto-next-section {
  padding: 11px 16px 7px 16px;
  position: absolute;
  right: 0;
  margin-top: -85px;
  z-index: 10;
  outline: none;
}

.bto-next-section img {
  width: 12px;
  height: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.svg_shadow {
  -webkit-filter: drop-shadow( -3px 4px 3px #888 ); 
  filter: drop-shadow( -3px 4px 3px #888 );
}

html.non-touch .svg_shadow:hover {
  -webkit-filter: drop-shadow( -1px 1px 1px #000 ); 
  filter: drop-shadow( -1px 1px 1px #888 );
}

.bto-add {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.5px;
  padding: 3px 15px 1px;
  margin: auto;
  background-color: #DF217C;
  border-radius: 20px;
}

html.non-touch .bto-add:hover {
  background-color: #9B9B9B;
}

.bto-add-txt {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  color: #DF217C;
  letter-spacing: 0.5px;
  padding: 3px 15px 1px;
  margin: auto;
}

html.non-touch .bto-add-txt:hover {
  color: #9B9B9B;
}

.bto-item-type_service {
  text-decoration: none;
  position: relative;
}

html.non-touch .bto-item-type_service:hover {
  opacity: 0.5;
}

/*Radio*/
.rbto-time {

}

.time-slot label {
  margin-bottom: 0;
}

.selected .dayNumber {
  font-size: 48px;
  font-weight: 200;
  color: #DF217C;
  line-height: 50px;
}

.selected .dayName {
  font-size: 24px;
  font-weight: 200;
  color: #DF217C;
}

.dayNumber {
  font-size: 24px;
  font-weight: 200;
  color: #C9C5CB;
  line-height: 30px;
}

.dayName {
  font-size: 12px;
  font-weight: 200;
  color: #C9C5CB;
}

.calElement {
  font-family: 'Poppins', sans-serif;
  color: #C9C5CB;
}

.dayNumber {
  font-size: 24px;
  font-weight: 300;
  display: block;
}

.dayName {
  font-size: 12px;
  font-weight: 300;
  display: block;
}

.rbto-prof {
  display: inline-block;
}

.professional {
  display: inline-block;
  padding: 0 2px 0 2px;
  cursor: pointer;
}

.professional img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.5;
}

.professional.active img,
html.non-touch .professional:hover img {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  opacity: 1.0;
}

.all-prof-btn {
  position: absolute;
  left: 0;
  width: 87px;
  height: 83px;
  vertical-align: top;
  border: none;
  margin-right: 5px;  
  margin-left: 5px;
  background: #F6F2F6;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  cursor: pointer;
  color: #C6C6C6;
}

html.non-touch .all-prof-btn:hover {
  background: #C9C5CB;
  color: #fff;
}

/*Checkbox*/

input[type="checkbox"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}

input[type="checkbox"]:checked + label {
  background: #C9C5CB;
  color: #4A4A4A;
  &::after {
    color: hsla(215, 5%, 25%, 1);
    font-family: FontAwesome;
    border: 2px solid hsla(150, 75%, 45%, 1);
    content: "\f00c";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: #4A4A4A;
    box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
  }
}

.container-checkbox {
  display: inline-block;
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  font-size: 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 20px 0 0 0;
}

.container-checkbox p {
  font-size: 12px;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #F6F2F6;
  border-radius: 20px;
}

/* On mouse-over, add a grey background color */
html.non-touch .container-checkbox:hover input ~ .checkmark {
  background-color: #F6F2F6;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #DF217C;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Type*/

h1 {
  text-align: center;
  color: #DF217C;
}

.bold {
  font-weight: 600;
}

p {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
}

.tit-big-overlay {
  font-size: 42px;
  font-weight: 200;
  line-height: 48px;
  font-family: 'Barlow', sans-serif;
}

.tit-medium-overlay {
  font-size: 36px;
  font-weight: 200;
  line-height: 38px;
  font-family: 'Barlow', sans-serif;
}

.tit-small-overlay {
  font-size: 24px;
  font-weight: 200;
  line-height: 29px;
  font-family: 'Barlow', sans-serif;
}

.tit-small {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #DF217C;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: 100%
}

.select-day {
  display: inline-table;
  cursor: pointer;
}

.select-day *, .no-select-day * {
  user-select: none;
}

.select-day .mouth, .select-day .day-txt {
  font-size: 23px;
  color: #DF217C;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.select-day .day-number {
  font-size: 48px;
  color: #DF217C;
  font-weight: 100;
  padding: 15px 0 15px 0;
  letter-spacing: 0.5px;
}

.no-select-day {
  display: inline-table;
  cursor: pointer;
  top: 8px;
  position: relative;
  letter-spacing: 0.5px;
  width: 36px;
}

.no-select-day .mouth, .no-select-day .day-txt {
  font-size: 12px;
  font-weight: 200;
  color: #C9C5CB;
  letter-spacing: 0.5px;
}

.no-select-day .day-number {
  font-size: 24px;
  color: #C9C5CB;
  font-weight: 200;
  padding: 1px 3px;
}

.old-day {
  opacity: 0.3;
  cursor: default;
}

.tit-small-prof {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4A4A4A;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
}

.tit-small-night-fee {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #807086;
  text-align: center;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
}

.name-prof {
  font-size: 11px;
  color: #807086;
  text-transform: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 87px;
  white-space: nowrap;
}

.tit-section {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #DF217C;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.sub-tit-section {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #4A4A4A;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: 100%;
  line-height: 28px;
}

.sub-tit-time {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #4A4A4A;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: 100%;
}

.tit-section-checkout {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 24px;
  color: #DF217C;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-top: 15px;
}

.week-day-checkout {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #DF217C;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
}

.tit-section-addon {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #DF217C;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: 100%;
}

.popup-address_txt_rose {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #DF217C;
  opacity: 0.9;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 20px 0;
}

.popup-address_number {
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
  font-size: 70px;
  color: #DF217C;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 38px 0 56px 0;
  cursor: default;
}

.tag_small {
  font-size: 10px;
}

.input-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #807086;
  letter-spacing: 0;
  line-height: 47px;
  text-align: center;
  background: none;
  border: 0;
  height: 42px;
}

.tit-services {
  font-family: 'Poppins', sans-serif;
  font-size: 34px;
  font-weight: 200;
  color: #FFFFFF;
  letter-spacing: 5px;
  text-shadow: 0 4px 5px rgba(0,0,0,0.30);
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  top: -92px;
}

.hours-container {
  width: 360px;
  text-align: left;
  margin-bottom: 50px;
}

.slick-dots {
  bottom: -35px;
}

.slick-dots li {
  margin: 0;
}

/* Mobile Styles */

@media only screen and (max-width: 400px) {

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

@media only screen and (min-width: 560px) {
  .nav_container {
    max-width: 480px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}

/* Spinner  */
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wpwl-button-pay, .wpwl-button-error {
  max-width: 220px;
  height: auto;
  display: block;
  padding: 7px;
  margin: 0 auto;
  border: none;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #DF217C;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 1.5px;
  border-radius: 22px;
  box-shadow: 0 22px 22px -12px #807086;
  text-align: center;
  text-transform: uppercase;
}

.wpwl-button-pay.active, .wpwl-button-pay:hover, .wpwl-button-error{
  background-color: #730F3F;
}

.wpwl-button-error {
  opacity: 0.5
}

.wpwl-form-card {
  box-shadow: none;
  background-image: none;
  background-color: white;
}

.wpwl-wrapper-brand {
  padding-right: 10px;
  line-height: 28px;
  width: 170px;
}

.wpwl-label-brand {
  line-height: 28px;
}

.wpwl-label {
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #A69CA9;
  padding: 0 12px;
  letter-spacing: 0.5px;
  margin-bottom: 7px;
}

.wpwl-control {
  padding: 4px 10px;
}

.wpwl-wrapper-submit {
  margin-top: 15px;
}

.wpwl-hint {
  color: red!important;
  font-size: 11px;
}

.wpwl-has-error {
  color: red;
  border-color: red;
}

.wpwl-form-card input, .wpwl-control-brand, 
.wpwl-wrapper-cvv, .wpwl-wrapper-cardNumber,
.wpwl-wrapper-brand, .wpwl-wrapper-customerEmail,
.wpwl-wrapper-countryCodePhone, .wpwl-wrapper-mobilePhone,
.wpwl-control {
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px!important;
  font-weight: 300!important;
  color: #A69CA9!important;
}

.wpwl-form-has-inputs {
  background-color: white;
  box-shadow: none;
}